@media screen and (max-width: 600px) {
  body {
    background-color: white;
  }
}

/* MAIN STYLING PAGE FOR ALL PAGES */

body {
    background-color: white;
    margin: auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

a {
    color: hotpink;
  }

/* headers styling */

h1 {
    text-align: center;
    font-size: 90px;
    font-family: 'Bebas Neue', sans-serif;
}

h2, h3 {
    text-align: center;
    font-family: 'Nova Square', sans-serif;
}

header h1 {
    margin: auto;
}

/* navigation styling */

nav {
    background-color: black;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 30px; 
    margin: 0 auto;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
}

nav li {
    margin: 25px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}

nav a:hover {
    background-color: red;
}

/* images styling */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

figcaption {
    text-align: center;
    padding: 5px 0px;
}

/* table styling */

.contact-table {
    margin: auto;
    width: 60%;
    border: 1px solid black;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
}

.contact-method-col, .contact-details-col {
    margin: auto;
    width: 30%; 
    padding: 5px 10px;
    text-align: center;
}

/* main text styling in about section */

#about-main {
    text-align: center;
    margin: auto;
    width: 60%;
    padding: 5px 5px;
}

.education-list-items, .tech-skills-list-items {
    text-align: left;
    margin: auto;
    width: 50%;
    padding: 5px 5px;
}

.education-list-items li, .tech-skills-list-items li {
    padding: 2px;
}


/* footer styling */

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 3px 0;
    margin-top: 20px;
}


